CustomerDetailsDemo/src/main/app/customerdetails-businessprocess.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd">
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="mulesoft" password="kamini" database="MySQL" doc:name="MySQL Configuration"/>
    <context:property-placeholder location="all.properties"/>
    <flow name="customer-apiFlow">
        <set-session-variable variableName="queryVar" value="#[message.inboundProperties.'http.query.params']" doc:name="Set Query session variable"/>
        <logger message="#[sessionVars.queryVar.customerId]" level="INFO" doc:name="Query CustomerID Logger"/>
        <set-session-variable variableName="simulateDB" value="${simulate.DB}" doc:name="Simulate DB Session Variable"/>
        <logger message="#[sessionVars.simulateDB]" level="INFO" doc:name="Simulate DB Logger"/>
        <choice doc:name="Simulate DB Choice">
            <when expression="#[sessionVars.simulateDB=='true']">
                <flow-ref name="SimulateDBFlow" doc:name="SimulateDBFlow"/>
            </when>
            <otherwise>
                <flow-ref name="ActualDBFlow" doc:name="ActualDBFlow"/>
            </otherwise>
        </choice>

    </flow>
    <sub-flow name="SimulateDBFlow">
        <choice doc:name="Customer Choice">
            <when expression="#[sessionVars.queryVar.customerId=='1234']">
                <set-payload value="[
  {
    &quot;startDate&quot;: 1492729200000,
    &quot;lastName&quot;: &quot;Berry&quot;,
    &quot;subsciptionRate&quot;: &quot;67&quot;,
    &quot;lastBill&quot;: &quot;45&quot;,
    &quot;address&quot;: &quot;33 batman street&quot;,
    &quot;firstName&quot;: &quot;Kamini&quot;,
    &quot;customerId&quot;: 1234
  }
]" doc:name="Set Customer Payload"/>
                <logger message="Simulate Db Customer Payload" level="INFO" doc:name="Logger"/>
                <flow-ref name="customerFoundFlow" doc:name="customerFoundFlow"/>
            </when>
            <otherwise>
                <set-payload value="#[ ]" doc:name="Empty Payload"/>
                <logger message="Simulate Db Empty  Payload" level="INFO" doc:name="Logger"/>
                <flow-ref name="customerNotFoundFlow" doc:name="customerNotFoundFlow"/>
            </otherwise>
        </choice>
    </sub-flow>
    <sub-flow name="ActualDBFlow">
        <db:select config-ref="MySQL_Configuration" doc:name="Get count from DB">
            <db:parameterized-query><![CDATA[select firstName, lastName, c.idcustomer AS customerId, c.subrate AS subsciptionRate, startDate, lastBill, address  from customerdetails.customer c where c.idcustomer = #[sessionVars.queryVar.customerId]]]></db:parameterized-query>
        </db:select>
        <logger message="#[payload]" level="INFO" doc:name="DB count Logger"/>
        <logger message="#[payload.size()]" level="INFO" doc:name="Payload Size Logger"/>
        <choice doc:name="Customer found or not">
            <when expression="#[payload.size()!=0]">
                <flow-ref name="customerFoundFlow" doc:name="customerFoundFlow"/>
            </when>
            <otherwise>
                <flow-ref name="customerNotFoundFlow" doc:name="customerNotFoundFlow"/>
            </otherwise>
        </choice>
    </sub-flow>
    <sub-flow name="customerFoundFlow">
        <json:object-to-json-transformer mimeType="application/json" doc:name="Object to JSON"/>
        <logger level="INFO" doc:name="JSON payload Logger"/>
    </sub-flow>
    <sub-flow name="customerNotFoundFlow">
        <logger message="customer not found" level="INFO" doc:name="customer not found Logger"/>
        <set-payload value="#['{  &quot;Failure Message&quot;: &quot;Customer not found&quot;,     &quot;Status&quot;: &quot;200&quot; }']" mimeType="application/json" doc:name="Set Payload"/>
    </sub-flow>
</mule>
